.side-bar{
  min-height: 100vh;
  
  background: #1a8bf0;
  text-align: center;
  color:white;
  padding-right: 0;
  margin-bottom: -10px; /*hack to remove white bar at bottom*/
}

.header{
  padding-top: 50px;

}

.mainViewContainer{
  min-height: 100vh;
  min-width: 100%;
  background-color: #C5D7FF;
  overflow:auto;
}

.row.no-gutters { /* https://julienmelissas.com/no-gutter-column-trick-for-bootstrap/*/
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.page-container{
  max-height: 100vh;
  overflow: hidden;
}