.twitterHandlePromptHeading{
    font-size: 30px;
    color: #424242;
}
.main-header-container{
    align-self: center;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.slider-container{
    background-color: white;
   align-self:flex-end;
   z-index: 11;
   min-width: 100%;
   margin-top: auto;
}

twitter-view{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.controlls{
    z-index: 12;
    position:relative;
}